doctype html
html
  head
    link(rel="stylesheet", href="../css/splash.css")
    script(src="../js/splash.js")
  body
    header
      h1 The master's companion
    main.grid.col
      .just: button.occupyw.special#conn Connect
      .just: button.occupyw.reduce#hst Host
      .just: button.occupyw.reduce#conf Configure player
    footer
      p Y. The monster - 2016
    dialog#connect
      .grid
        .full.grid
          .third: label(for="ip") IP:
          .twothird: input(type="text", id="ip", placeholder="127.0.0.1").occupyw
        .full.grid
          .third: label(for="portc") Port:
          .twothird: input(type="text", id="portc", placeholder="2020").occupyw
        .full.grid
          .third
          .third: button.occupyw.cancel.reduce.close Cancel
          .third: button.occupyw.ok#join Ok
    dialog#host
      .grid
        .full.grid
          .third: label(for="porth") Port:
          .twothird: input(type="text", id="porth", placeholder="2020").occupyw
        .full.grid
          .third
          .third: button.occupyw.cancel.reduce.close Cancel
          .third: button.occupyw.ok#create Ok
