@import "colors";
@import "fonts";
@import "defaults";
@import "grid";

header{
  min-height: 10vh;

  padding: 0.5em 0.2em;
  margin-bottom: 0.3em;

  box-shadow: 0 -0.2em 0.3em 0.3em $shadow-color;
}

footer{
  min-height: 5vh;

  padding: 0.5em 0.2em;

  box-shadow: 0 0.2em 0.3em 0.3em $shadow-color;

  font-size: 0.8em;
  font-weight: lighter;

  text-align: right;
}

h1, h2, h3, h4, h5, h6{
  font-family: $header-font;
}

h1{
  text-align: center;
}

button{
  padding: 0.5em 0.2em;

  background-color: $button-color;
  color: $white;

  font-size: 1em;

  border-radius: 0.5em;
  border: 1px solid $black;
  outline: none;

  box-shadow: 0 0.1em 0.4em -0.2em $shadow-color;

  transition: background-color 0.3s,
              color 0.3s;
  &:hover, &:focus{
    background-color: lighten($button-color, 20%);
  }

  &:active{
    background-color: $button-color;
    box-shadow: inset 0 0.2em 0.6em -0.3em $shadow-color;

    text-shadow: 0 0.1em 0.2em $shadow-color;
  }

  &.ok{
    background-color: $button-accept-color;

    &:hover, &:focus{
      background-color: lighten($button-accept-color, 20%);
    }

    &:active{
      background-color: $button-accept-color;
    }
  }

  &.cancel{
    background-color: $button-deny-color;

    &:hover, &:focus{
      background-color: lighten($button-deny-color, 20%);
    }

    &:active{
      background-color: $button-deny-color;
    }
  }

  &.special{
    background-color: darken($button-extra-color, 10%);

    &:hover, &:focus{
      background-color: $button-extra-color;
    }

    &:active{
      background-color: darken($button-extra-color, 10%);
    }
  }
}

input{
  padding: 0.2em;

  background-color: $text-background-color;
  color: $text-input-color;

  border-radius: 0.5em;
  border: 1px solid $black;
  outline: none;

  transition: border 0.2s,
              padding 0.2s,
              font-weight 0.2s,
              background-color 0.2s;
  &:focus{
    padding: calc(0.2em - 1px);
    border: 2px solid black;
    background-color: $white;
  }

  &::placeholder{
    color: lighten($text-input-color, 10%);
  }
}

dialog{
  margin: auto;
  padding: 0.2em 0.5em;

  background-color: $dialog-color;

  box-shadow: 0.1em 0.2em 1em 0.1em $shadow-color;

  border-radius: 0.5em;
  border: 1px solid $black;
  outline: none;

  &::backdrop{
    background-color: $dialog-modal-color;
  }
}

.occupy{
  width: 100%;
  height: 100%;
}
.occupyw{width: 100%;}
.occupyh{width: 100%;}

.reduce{
    transform: scale(0.9);
}

.hidden{
  display: none;
}
