// main pallete
$base-color: #D1CDA2;
$secondary-color: #402F3F;
$highlight-color: #CE9770;
$accept-color: #A6B890;
$deny-color: #B9485A;

//extra pallete
$black: #333333;
$white: white;

//derived pallete
$background-color: $base-color;
$component-color: $secondary-color;
$shadow-color: black;
$button-color: $secondary-color;
$button-accept-color: $accept-color;
$button-deny-color: $deny-color;
$button-extra-color: $highlight-color;
$dialog-color: lighten($base-color, 10%);
$dialog-modal-color: transparentize($black, 0.3);
$text-background-color: $white;
$text-input-color: darken($black, 50%);
$text-error-color: $deny-color;
