@import "colors";
@import "fonts";

*{
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

//colors
body{
  color: $black;
  background-color: $background-color;
}

header, footer{
  color: $white;
  background-color: $component-color;
}

//sizing and display
html{
  width: 100vw;
  height: 100vh;
}

body{
  display: flex;
  flex-flow: column nowrap;

  min-height: 100vh;
}

main{
  flex: 1;
}

//typefaces
*{
  font-family: $text-font;
  font-weight: normal;
}
