//Josefin
@font-face {
  font-family: 'Josefin sans';
  font-style: normal;
  font-weight: bold;
  src: local('Josefin Sans Bold'), local('JosefinSans Bold'), url('../fonts/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin sans';
  font-style: italic;
  font-weight: bold;
  src: local('Josefin Sans Bold Italic'), local('JosefinSans Bold Italic'), url('../fonts/JosefinSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin sans';
  font-style: normal;
  font-weight: normal;
  src: local('Josefin Sans'), local('JosefinSans'), url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin sans';
  font-style: italic;
  font-weight: normal;
  src: local('Josefin Sans Italic'), local('JosefinSans Italic'), url('../fonts/JosefinSans-Italic.ttf') format('truetype');
}

//Raleway
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  src: local('Raleway Bold'), url('../fonts/Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: bold;
  src: local('Raleway Extra-Bold Italic'), url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway'), url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: normal;
  src: local('Raleway Italic'), url('../fonts/Raleway-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: lighter;
  src: local('Raleway Extra-Light'), url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: lighter;
  src: local('Raleway Light Italic'), url('../fonts/Raleway-LightItalic.ttf') format('truetype');
}


$header-font: 'Josefin sans';
$text-font: 'Raleway';
