.grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  & > *{
    height: auto;
  }
}

//options
.col{
  flex-flow: column wrap;

  & > *{
    width: auto;
  }
}

//size
.grid > *{flex: 1;}
.grid > .full{flex: 0 0 100%;}
.grid > .half{flex: 0 0 50%;}
.grid > .quarter{flex: 0 0 25%;}
.grid > .threequarter{flex: 0 0 100%;}
.grid > .third{flex: 0 0 33%;}
.grid > .twothird{flex: 0 0 66%;}
.grid > .just{flex: 0 0 auto;}

//gutters
.grid > *{padding: 0.2em;}
.grid > .nogutter{padding: 0;}
.grid > .extragutter{padding: 0.6em;}

//special
.grid > .break{flex: 0 0 100%;}
